* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #5323A5;
    background-size: 100px 100px;
    background-image:linear-gradient(135deg,transparent 100%,#5323A5 100%),radial-gradient(transparent 14px,#ffffff 14px,#ffffff 20px,transparent 20px,transparent 28px,#ffffff 28px,#ffffff 35px,transparent 35px,transparent 40px,#ffffff 40px,#ffffff 0,transparent 0);
}